%h1 Dashboard#index
%p Find me in app/views/dashboard/index.html.erb

%div.pull-left{style:"width:100%;"}
  %div.pull-left{style:"width:50%;"}
    %h3 Input Options
    %ul.pull-left{style:"width:100%;list-style:none;"}
      %li.pull-left{style:"width:30%"}
        Instance: 
      %li.pull-left{style:"width:60%;"}
        %select#username{style:"width:100%;", value:""}
          - @instances.each do |instance|
            %option{value:"#{instance.id}"} #{instance.name}
    %input#logon{type:"button", value:"Logon",style:"margin-left:10%;"}
    %input#logoff{type:"button", value:"Logoff",style:"margin-left:10%;"}
  %div.pull-left{style:"width:45%;padding-right:10px;height:100%;"}
    %h3 Enter the SQL Query in the textarea
    %textarea#sql.pull-left{placeholder: "Enter SQL Query", style:"width:100%;height:200px;"}
    %input#submitquery{type:"button", value:"Submit Query",style:"margin-left:10%;;margin-top:10px;"}
